spring:
  application:
    name: config-server

server:
  port: 8888

cloud:
  config:
    server:
      git:
        uri: file:///C:\smord-config-repo
        default-label: main
        clone-on-start: true